body {
    font-family: 'Song Myung', serif;
}

.pixar {
    margin: 6px;
    border: 1px solid;
    height: 45px;
    width: 145px;
    background-color: deepskyblue;
    border-radius: 20px;
    text-transform: capitalize;
    font-family: 'Song Myung', serif;
}

.pixar:hover {
    transform: scale(1.2);
    background-color: #ccf2ff;
}

.selection-box {
    float: right;
    margin-right: 70px;
    width: 20%;
    border: 10px solid #154696;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 20px;
}

#pixar-input {
    width: 80%;
}

.pixMovie {
    float: left;
    width: 33%;
    margin: 20px;
}

#add-pixar {
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Song Myung', serif;
    border-radius: 7px;
    background-color: deepskyblue;
}

#add-pixar:hover {
    transform: scale(1.2);
    background-color: #ccf2ff;
}

.header {
    width: 100%;
}

p {
    font-size: 35px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#buttons-view {
    padding: 10px;
}
